@{
    ViewBag.Title = "Contact gegevens";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wim Aerts<br />
    Kruishofstraat 146 B64<br />
    2020 Antwerpen<br />
</address>

<address>
    <strong>Werk:</strong>   <a href="mailto:wim.aerts@politie.antwerpen.be">wim.aerts@politie.antwerpen.be</a><br />
    <strong>Persoonlijk:</strong> <a href="mailto:wim.aerts@gmail.com">wim.aerts@gmail.com</a>
</address>